<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h1><%= t(:search_results, :keywords => h(params[:keywords])) %></h1>
<% end %>
 
<% if products.any? %>
<ul class="product-listing">
  <% products.each do |product| %>
    <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
        <%= render 'spree/shared/product', :product => product %>
    <% end %>
  <% end %>
</ul>
<% end %>

<%=
  if paginated_products.respond_to?(:num_pages) and paginated_products.count > 0
    params.delete(:search)
    params.delete(:taxon)
    paginate paginated_products
  end
%>
 
