<% content_for :sidebar do %>
  <%= render "spree/shared/taxonomies" %>
<% end %>

<% @taxons.each do |taxon| %>
  <div class="taxon">
    <h2 class="subtaxon-title"><%= taxon.name %></h2>

    <%= render 'spree/shared/products', :products => taxon_preview(taxon, 6), :taxon => taxon %>
  </div>
<% end %>
